@import 'functions';

$square-from-to-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRF/4QZAAAAKNQcRAAAAA5JREFUeNpiYKAOAAgwAABIAAEOnco6AAAAAElFTkSuQmCC');
$square-last-from-to-image: $square-from-to-image;
$square-moved-from-to-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAMAAADz0U65AAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAAZQTFRFA3+cAAAAr+fiYwAAAA5JREFUeNpiYKAOAAgwAABIAAEOnco6AAAAAElFTkSuQmCC');
$square-can-move-to-image: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAgAAAAICAYAAADED76LAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADVJREFUeNpi+P//PwMKbpH8j8zHK4mqAIskQgEOSYgCPJIgzAhWhQu0SuHWCTMZryQIAwQYAE99qUdhE9znAAAAAElFTkSuQmCC');

.piece {
    overflow: visible;
    position: static;

    &.dragged {
        display: none;
    }
}

.pframe {
    overflow: visible;
    position: relative;
}

.selected .pframe {
    left: -5%;
    top: -5%;

}

.pimg {
    left: 0;
    position: absolute;
    top: 0;
}

.pshd {
    display: none;
    left: 5%;
    position: absolute;
    top: 5%;
}

.selected .pshd {
    display: inherit;
}

.square {
    overflow: visible;
}

.sframe {
    background-color: #9f6e5b;
    background-repeat: repeat;
    height: 100%;
    left: 0;
    position: relative;
    top: 0;
    width: 100%;
}

.sborder {
    position: absolute;
    border: 1px none #ff8419;
    top: 0;
    left: 0;
    background-position: top left;
    background-repeat: repeat;
    -moz-box-sizing: content-box;
    -webkit-box-sizing: content-box;
    box-sizing: content-box;
}

.square-from-to .sborder {
    border: 1px solid #ff8419;
    background-image: $square-from-to-image;
    opacity: .4;
}

.square-last-from-to .sborder {
    border: 1px solid #ff8419;
    background-image: $square-last-from-to-image !important;
    opacity: .4;
}

.square-moved-from-to .sborder {
    border: 1px solid #20748c;
    background-image: $square-moved-from-to-image;
    opacity: .4;
}

.square-can-move-to .sborder {
    background-image: $square-can-move-to-image;
}

.white .sframe {
    background-color: #fff;
}

.black .sframe {
    background-color: #888;
}

.phelper {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}
