$movelist-move-state-hover-bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQCAYAAABvWArbAAAARElEQVQ4jWP4+/PhfyYGBgaGUWKUGCWGL/HnLQMTAwMjjGBkYmBiYGBiYGJgZEZlMcNlYRKMCMUQAwbcM6PEKDFKYCEAGrQJAcbElNQAAAAASUVORK5CYII=');
$movelist-move-state-active-bg: url('data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAAEAAAGQCAYAAABvWArbAAAAMElEQVQ4je3LIQ4AIBTD0O3f/8wrFgmKhMy8pKJKwkhSKeVbbGuAPU9f4PIopTxgAeS0DRtI4yK0AAAAAElFTkSuQmCC');

.ui-movetable-wrap {
    border: 1px solid #d5d0bd;
    height: 23em;
    overflow: auto;
    width: 13em;
}

.ui-movetable-table {
    width: 100%;
    border-collapse: separate;
    margin-bottom: 0.5em;
    margin-top: 0.5em;

    td {
        border-bottom: 1px dotted #e5e1d6;
        background-color: #fbfbf6;
        padding: .2em .3em .2em .3em;

        &.moveno {
            cursor: pointer;
        }

        &.selected {
            background-color: #d1d7dc;
        }
    }

    .ui-state-default {
        border: none;
        background: none;
        border-bottom: 1px dotted #e5e1d6;
        background-color: #fbfbf6;
        color: #000;
    }

    .ui-state-active {
        border: none;
        background-image: none;
        background-color: #d1d7dc;
        color: #000;
    }

    .ui-movelist-nav {
        margin-top: 1em;
    }
}

.ui-movelist-element {
    overflow: hidden;
    border: none;

}

.ui-movelist-wrap {
    padding: 0;
    margin: 0;
    line-height: 1.6em;
    height: 100%;
    min-height: 100%;
    max-height: 100%;
    overflow: hidden;
    position: relative;

    .ui-movelist-nav {
        padding: 0;
        margin-top: 6px;
        margin-bottom: 6px;
    }

    .ui-movelist-list {
        overflow: auto;
        margin: .5em;
        position: relative;
    }

    .moveno {
        padding-right: .3em;
        font-weight: normal;
    }

    .white_move, .black_move {
        padding-left: .2em;
        padding-right: .2em;
        margin-right: .3em;
        cursor: pointer;
        &:hover, &:focus {
            border: 1px solid #fbcb09;
            background: #fdf5ce $movelist-move-state-hover-bg 50% 50% repeat-x;
        }
    }

    .game_result {
        padding-left: .2em;
        padding-right: .2em;
        margin-right: .3em;
        cursor: default;
        border: solid 1px transparent;
        font-weight: bold;
    }
}

.ui-moves {
    .ui-state-default {
        border: 1px solid transparent;
        background: none;
    }

    .ui-state-hover, .ui-state-focus {
        border: 1px solid #fbcb09;
        background: #fdf5ce $movelist-move-state-hover-bg 50% 50% repeat-x;
    }

    .ui-state-active {
        border: 1px solid #fbd850;
        background: #fff $movelist-move-state-active-bg 50% 50% repeat-x;
    }

    .ui-comment {
        color: #999; font-style: italic;
    }

    .ui-nag {
        padding-right: .5em;
    }

    .ui-movetable-nav {
        margin-top: .5em;
        margin-bottom: 1em;

        a {
            margin-right: .5em;
        }
    }

    .white_move,
    .black_move {
        white-space: nowrap;
    }
}





