@import 'functions';

.pos-builder {
    .form-horizontal {
        display: block;
    }

    .board-container {
        display: inline-block;
        margin-right: 20px;
        position: relative;
        vertical-align: top;
    }

    .holder-container {
        width: 100%;
        text-align: center;

        .ha {
            display: inline-block;
        }
    }

    .controls {
        display: inline-block;
        max-width: 500px;
        vertical-align: top;

        & > div {
            margin-bottom: .5em;
        }

        .form-group {
            margin-bottom: 0;
        }
    }

    .code-row {
        .row {
            padding-bottom: .5em;
        }

        .control-label {
            padding-top: 7px;
        }
    }
    .pos-sets {

    }

    .pos-start {
        .form-group {
            margin-bottom: 0;
        }
    }

    .pos-params {

    }

    .pos-castle {
        .color-group {
            border: 1px solid #ccc;
            margin: 0 .4em .1em;
            padding: .4em;
        }

        .form-group {

            display: inline-block;
            margin-bottom: 0;
            padding: .4em;
            vertical-align: middle;
            .checkbox label {
                margin-bottom: 0;
            }
        }
    }

    .pos-display {
        .form-group {
            display: inline-block;
        }
    }
}