@import "functions";

@mixin pieces-bg($square-size) 
{
    $square-size-neg: -$square-size;

    .wk .pimg {
        background-position: 0 0;
    }

    .wq .pimg {
        background-position: 0 $square-size-neg*1;
    }

    .wr .pimg {
        background-position: 0 $square-size-neg*2;
    }

    .wn .pimg {
        background-position: 0 $square-size-neg*3;
    }

    .wb .pimg {
        background-position: 0 $square-size-neg*4;
    }

    .wp .pimg {
        background-position: 0 $square-size-neg*5;
    }

    .bk .pimg {
        background-position: $square-size-neg 0;
    }

    .bq .pimg {
        background-position: $square-size-neg $square-size-neg*1;
    }

    .br .pimg {
        background-position: $square-size-neg $square-size-neg*2;
    }

    .bn .pimg {
        background-position: $square-size-neg $square-size-neg*3;
    }

    .bb .pimg {
        background-position: $square-size-neg $square-size-neg*4;
    }

    .bp .pimg {
        background-position: $square-size-neg $square-size-neg*5;
    }

    .wk .pshd,
    .bk .pshd {
        background-position: $square-size-neg*2 0;
    }

    .wq .pshd,
    .bq .pshd {
        background-position: $square-size-neg*2 $square-size-neg*1;
    }

    .wr .pshd,
    .br .pshd {
        background-position: $square-size-neg*2 $square-size-neg*2;
    }

    .wn .pshd,
    .bn .pshd {
        background-position: $square-size-neg*2 $square-size-neg*3;
    }

    .wb .pshd,
    .bb .pshd {
        background-position: $square-size-neg*2 $square-size-neg*4;
    }

    .wp .pshd,
    .bp .pshd {
        background-position: $square-size-neg*2 $square-size-neg*5;
    }
}

@mixin board-base($square-size, $frame-size, $board-border-size, $label-font-size) {
    .board-body {
        height: $square-size * 8 + $board-border-size * 2 + $frame-size * 2;
        width: $square-size * 8 + $board-border-size * 2 + $frame-size*2;
    }

    .board-frame {
        top: $frame-size;
        left: $frame-size;
        height: $square-size * 8 + $board-border-size * 2;
        width: $square-size * 8 + $board-border-size * 2;
    }

    .board-labels {
        font-size: $label-font-size;

        @if ($frame-size == 0) {
            &.board-fyles-labels {
                top: $square-size * 8 + $board-border-size * 2 - $label-font-size - 4;
                left: $frame-size + $board-border-size;

                li {
                    width: $square-size;
                    height: auto;
                    line-height: $label-font-size + 2;
                    & > span {
                        line-height: $label-font-size + 2;
                        text-align: right;
                        padding-right: $board-border-size;
                    }
                }
            }

            &.board-rows-labels {
                top: $frame-size + $board-border-size;
                left: $board-border-size + 2;
                width: $square-size;

                li {
                    height: $square-size;
                    & > span {
                        line-height: $label-font-size + 2;
                        width: auto;
                        vertical-align: top;
                        text-align: left;
                    }
                }
            }
        }
        @else
        {
            &.board-fyles-labels {
                top: $square-size * 8 + $frame-size + $board-border-size * 2;
                left: $frame-size + $board-border-size;

                li {
                    width: $square-size;
                    height: $frame-size;
                }
            }

            &.board-rows-labels {
                top: $board-border-size + $frame-size;
                left: 0;
                width: $frame-size;

                li {
                    height: $square-size;
                    & > span {
                        width: $frame-size;
                    }

                }
            }
        }
    }
}

@mixin board($square-size, $board-border-size, $square-border-size) {
    .board-squares {
        top: $board-border-size;
        left: $board-border-size;
        height: $square-size * 8;
        width: $square-size * 8;
        display: flex;
        flex-wrap: wrap;
    }

    .textblock, .piece, .pframe, .pimg, .pshd, .square {
        height: $square-size;
        width: $square-size;
        line-height: $square-size;
    }

    .square {
        display: flex;
        position: relative;
    }

    .sborder {
        border-width: $square-border-size;
        height: $square-size - $square-border-size * 2;
        width: $square-size - $square-border-size * 2;
    }

    &.ha {
        .holder-body {
            height: $square-size * 2 + $board-border-size * 2;
            width: $square-size * 6 + $board-border-size * 2;

            .board-frame {
                top: 0;
                left: 0;
                height: $square-size * 2 + $board-border-size * 2;
                width: $square-size * 6 + $board-border-size * 2;
            }

            .board-squares {
                top: $board-border-size; 
                left: $board-border-size; 
                height: $square-size * 2;
                width: $square-size * 6;
            }
        }
    }

    &.va {
        .holder-body {
            height: $square-size * 6 + $board-border-size * 2;
            width: $square-size * 2 + $board-border-size * 2;

            .board-frame{
                top: 0;
                left: 0;
                height: $square-size * 6 + $board-border-size * 2;
                width: $square-size * 2 + $board-border-size * 2;
            }

            .board-squares {
                top: $board-border-size; 
                left: $board-border-size; 
                height: $square-size * 6;
                width: $square-size * 2;
            }
        }
    }
}

@mixin board-set($square-size, $frame-size, $board-border-size, $square-border-size, $label-font-size) {
    @include board-base($square-size, $frame-size, $board-border-size, $label-font-size);

    &.inboard {
        @include board-base($square-size, 0, $board-border-size, $label-font-size);
    }

    @include board($square-size, $board-border-size, $square-border-size);
    @include pieces-bg($square-size);
}

.size1 {
    @include board-set(20px, 16px, 1px, 1px, 8px);
    .board-labels { font-weight: bolder; }
}

.size2 {
    @include board-set(30px, 18px, 2px, 1px, 9px);
}

.size3 {
    @include board-set(40px, 18px, 2px, 1px, 9px);
}

.size4 {
    @include board-set(50px, 22px, 3px, 1px, 10px);
}

.size5 {
    @include board-set(60px, 27px, 3px, 2px, 11px);
}

.size6 {
    @include board-set(80px, 32px, 3px, 2px, 12px);
}

.nolabel .board-labels {
    display: none;
}

@media only screen and (max-width: 540px)
{
    .size6 {
        @include board-set(60px, 0, 3px, 2px, 11px);
    }
}

@media only screen and (max-width: 450px) 
{
    .size5 {
        @include board-set(50px, 0, 3px, 1px, 10px);
    }

    .size6 {
        @include board-set(50px, 0, 3px, 1px, 10px);
    }
}

@media only screen and (max-width: 360px) 
{
    .size4 {
        @include board-set(40px, 0, 2px, 1px, 9px);
    }

    .size5 {
        @include board-set(40px, 0, 2px, 1px, 9px);
    }

    .size6 {
        @include board-set(40px, 0, 2px, 1px, 9px);
    }
}

@media only screen and (max-width: 320px) 
{
    .size3 {
        @include board-set(30px, 0, 2px, 1px, 9px);
    }

    .size4 {
        @include board-set(30px, 0, 2px, 1px, 9px);
    }

    .size5 {
        @include board-set(30px, 0, 2px, 1px, 9px);
    }

    .size6 {
        @include board-set(30px, 0, 2px, 1px, 9px);
    }
}