/.vscode
/.github
/.babelrc
/gulp-tasks
/node_modules
/public
/test
/src/templates
/src/test
/.browserslistrc
/.gitattributes
/.gitignore
/.npmignore
/config.js
/gulpfile.js
/package-lock.json
/paths.js
/tsconfig.json
/tsconfig.webpack.json
/webpack.config.js
stats.json
debug.log