/.vscode
/.github
/node_modules
/public
/src/scss
/test
/*.config.js
/*.js.map
/.gitattributes
/.gitignore
/.npmignore
stats.json
debug.log

/gulp-tasks
/config.js
/global-data.json
/gulpfile.js
/package-lock.json
/paths.js
/tsconfig.json
/tsconfig.webpack.json
/webpack.config.js