.sframe {
  background: none; }

.white .sframe {
  background-color: #ffffdd; }

.black .sframe {
  background-color: #86a666; }

.inboard [data-fyle-label="a"], .inboard [data-fyle-label="c"], .inboard [data-fyle-label="e"], .inboard [data-fyle-label="g"],
.inboard [data-row-label="1"], .inboard [data-row-label="3"], .inboard [data-row-label="5"], .inboard [data-row-label="7"] {
  color: #fff; }

.inboard [data-fyle-label="b"], .inboard [data-fyle-label="d"], .inboard [data-fyle-label="f"], .inboard [data-fyle-label="h"],
.inboard [data-row-label="2"], .inboard [data-row-label="4"], .inboard [data-row-label="6"], .inboard [data-row-label="8"] {
  color: #333; }

.inboard.flip [data-fyle-label="a"], .inboard.flip [data-fyle-label="c"], .inboard.flip [data-fyle-label="e"], .inboard.flip [data-fyle-label="g"],
.inboard.flip [data-row-label="1"], .inboard.flip [data-row-label="3"], .inboard.flip [data-row-label="5"], .inboard.flip [data-row-label="7"] {
  color: #333; }

.inboard.flip [data-fyle-label="b"], .inboard.flip [data-fyle-label="d"], .inboard.flip [data-fyle-label="f"], .inboard.flip [data-fyle-label="h"],
.inboard.flip [data-row-label="2"], .inboard.flip [data-row-label="4"], .inboard.flip [data-row-label="6"], .inboard.flip [data-row-label="8"] {
  color: #fff; }
