@import "functions";

$white-square-color: #ffffee;
$black-square-color: #d5d0bd;

$on-white-label-color: #666;
$on-black-label-color: #fff;

.sframe { background: none; }
.white {
    .sframe { background-color: $white-square-color }
}

.black {
    .sframe { background-color: $black-square-color; }
}

@include inboard($on-white-label-color, $on-black-label-color);
