@import "functions";

$white-square-color: #EBD19E;
$black-square-color: #9F5E6B;

$on-white-label-color: #333;
$on-black-label-color: #fff;

.sframe { background-attachment: scroll; }
.white {
    .sframe { background-color: $white-square-color }
}

.black {
    .sframe { background-color: $black-square-color; }
}

@include inboard($on-white-label-color, $on-black-label-color);

.size1 .white .sframe {	background-image: url(elm/sqw20.jpg); }
.size1 .black .sframe {	background-image: url(elm/sqb20.jpg); }

.size2 .white .sframe {	background-image: url(elm/sqw30.jpg); }
.size2 .black .sframe {	background-image: url(elm/sqb30.jpg); }

.size3 .white .sframe {	background-image: url(elm/sqw40.jpg); }
.size3 .black .sframe {	background-image: url(elm/sqb40.jpg); }

.size4 .white .sframe {	background-image: url(elm/sqw50.jpg); }
.size4 .black .sframe {	background-image: url(elm/sqb50.jpg); }

.size5 .white .sframe {	background-image: url(elm/sqw60.jpg); }
.size5 .black .sframe {	background-image: url(elm/sqb60.jpg); }

.size6 .white .sframe {	background-image: url(elm/sqw80.jpg); }
.size6 .black .sframe {	background-image: url(elm/sqb80.jpg); }
